@import './config';

.App{
    width: 100vw;
    min-width: 375px;
    height: 100vh;
    
    background: url('../img/bg-pattern-top.svg') 125% 200% no-repeat, 
                url('../img/bg-pattern-bottom.svg') -20% -120% no-repeat,
                $dark-cyan;
    // padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@include media-xl{
    .App{
        background: url('../img/bg-pattern-top.svg') -80% 160% no-repeat, 
        url('../img/bg-pattern-bottom.svg') 160% -120% no-repeat,
        $dark-cyan;
    }
   
}